table{
	width: 600px;
	height: 600px;
	margin: auto;
	border-spacing: 0;
	border: black solid 1px;
	border-collapse: collapse;
    margin-bottom: 10px;
    box-shadow: 0 0 20px 2px black;
    border-top: 1px solid #e8e6b8;
    border-left: 1px solid #e8e6b8;
    border-bottom: 1px solid #6d6c44;
    border-right: 1px solid #6d644;
}
h1{
	text-align: center;
}
tr td{
	border: black solid 1px;
}