*{
	text-decoration: none;
	margin: auto;
}

#bloc_page{
	height: 100%;
	margin: auto;
}

.container{
	display: center;
}

.block{
	display: inline-block;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 5px;
	padding: 10px;
	line-height: 100%;
	font-size: 12px;
	font-size: 14px;
}

.player1{
	float: left;
}

.player2{
	float: right;
}

table{
	width: 608px;
	height: 608px;
	border-spacing: 0;
	border-collapse: collapse;
    box-shadow: 0 0 20px 2px black;
	background:url("board.png");
}

#wrapper{

}

#gameboard {
	display: inline-block;
}

h1{
	font-size: 50px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 25px;
	font-family: 'Macondo', cursive;
}

.hr{
	height:2px;
	width: 20%;
	margin:auto;
	margin-bottom:30px;
	background:black;
}

.shadow-box {
    -webkit-filter: drop-shadow( -2px 5px 5px gray );
            filter: drop-shadow( -2px 5px 5px gray ); /* Same syntax as box-shadow */
}