*{
	text-decoration: none;
	margin: auto;
}

body{
	/*background-color: grey;*/
}

#bloc_page{
	height: 100%;
	margin: auto;
}

.container{
	display: center;
}

.clock{
	display: inline-block;
	width: auto;
}

.block{
	display: inline-block;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 5px;
	padding: 10px;
	line-height: 100%;
	font-size: 12px;
	font-size: 14px;
}

#Score1{
	float: left;
}

#Score2{
	float: right;
}

.scoreboard{
	width: 300px;
	height: 200px;
}

table{
	width: 608px;
	height: 608px;
	border-spacing: 0;
	border-collapse: collapse;
    box-shadow: 0 0 10px 2px black;
	background:url("../img/board.png");
	margin-bottom: 20px;
}

td{
	width: 30px;
	text-align: center;
}
#wrapper{

}

#gameboard {
	display: inline-block;
}

h1{
	font-size: 60px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 25px;
	font-family: 'Macondo', cursive;
}

h3{
	font-size: 30px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 25px;
	font-family: 'Lora', serif;
}

h4{
	font-size: 20px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 25px;
	font-family: 'Lora', serif;
}

.clock-message{
	font-family: 'Lora', serif;
	font-size: 30px;
	color: red;
}

.hr{
	height:2px;
	width: 20%;
	margin:auto;
	margin-bottom:30px;
	background:black;
}

.shadow-box{
    -webkit-filter: drop-shadow( -2px 5px 5px gray );
            filter: drop-shadow( -2px 5px 5px gray ); /* Same syntax as box-shadow */
}

.white_piece{
	background:url("../img/white_piece.png") no-repeat;
    background-size: 30px 30px;
}

.black_piece{
	background:url("../img/black_piece.png") no-repeat;
    background-size: 30px 30px;
}