* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}


/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.brand-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    text-align: right;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
    padding-bottom: 10px;
}

.button{
    background: transparent;
    border: 3px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 0.5em;
    text-transform: uppercase;
    font-size: 100%;
    padding: 5px;
}

input[type=text]{
    color: black;
    margin-bottom: 10px;
}
.content {
    padding: 2em 1em 0;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 2px solid rgb(176, 202, 219);
    padding: 0.4em 0;
    font-size: 100%;
    letter-spacing: 0.1em;
}

ul{

}

.post {
    padding-bottom: 2em;
    text-align: justify;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .footer {
        text-align: center;
    }
}
